{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
   <h1>Trinity Server Worlds!</h1>
   <br/>

   {% for w in worlds %}
      <li><a href="http://trinity.apnet.xyz/worlds/{{ w }}">{{ w }} {{ ports[loop.index-1] }}</a></li>
   {% endfor %} 	 
   <br/>

   <h2>Download a world</h2>
   <form method="get" action="download"  method="post" >
      world:<select name="world">     
         {% for w in worlds %}
            <option value="{{ w }}">{{ w }}</option>
         {% endfor %}
       </select>
    <br><input type="submit">

{% endblock %}
