[Unit]
Description=Trinity web server service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/BedrockServer/
ExecStart=/usr/bin/sudo /home/ubuntu/python/bedrock/bin/python web_server.py 

[Install]
WantedBy=multi-user.target
